<div class="content">

  <img class="jetski" src="/images/jetski.jpg">

  <span class="about-me">My name is
    <strong>Javier Romero</strong> and I love making websites. I studied Full Stack web development at Ironhack, where
    I learned
    how to build websites using Javascript, Html, Css, Sass, MongoDB, NodeJS, Express and Angular.
    <br>
    <br> I currently live in Barcelona where I've been working as a Front-end Developer at <a href='https://www.whisbi.com/'>Whisbi</a>.
    <br>
    <br> You can view some of my work, or follow me on
    <a href="https://github.com/Javirum">GitHub</a>,
    <a href="https://www.linkedin.com/in/javierromeropaolini/">Linkedin</a> or
    <a href="https://www.instagram.com/jav_rom/">Instagram</a>. And yes...the jetski is mine. </span>

</div>