<div class="text-center">

  <h1>
    "Learn the form. Master the form. Break the form."</h1>
  <h4>- Edgar Davis</h4>
</div>

<img class="jetski" src="/images/jetski.jpg">

<p class="text-center">Bla bla bla stuff about me</p>