<div class="wrapper">
  <span class="name"> Javier Romero Paolini</span>
  <span class="description"> Full stack web developer based in Barcelona, Spain.</span>

  <img src="/images/javi.jpg" class="javi" alt="Javier Romero Paolini">

</div>