<div class="wrapper">
  <span class="name">Javier Romero</span>
  <span class="description"> Full stack web developer based in Barcelona, Spain.</span>

  <img src="/images/javi.jpg" class="javi" alt="Javier Romero Paolini">


  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  <div class="box5"></div>


  <div class="quote2">I love coding and designing websites using Javascript</div>


  <svg height="210" width="500" class="polygon">
    <polygon points="300,10 300,300 160,210" style="fill:#00B7FF;" /> Sorry, your browser does not support inline SVG.
  </svg>

  {{!--
  <form action="/projects" method="GET">
    <button> See Projects </button>
  </form> --}}

</div>