{{!--
<nav>
  <a href="/">Home</a>
  <a href="/about">About</a>
  <a href="/projects">Projects</a>
</nav> --}}

<div class="wrapper">
  <span class="name">Javier Romero</span>
  <span class="description"> Full stack web developer based in Barcelona, Spain</span>

  <img src="/images/javi.jpg" class="javi" alt="Javier Romero Paolini">

  <a href="/about" id="about">About</a>
  <a href="/projects" id="projects">Projects</a>
  <a href="/contact" id="contact">Contact</a>

  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  <div class="box5"></div>
  <div class="box6"></div>


  <div class="quote">I love coding and designing websites using Javascript</div>

</div>