<div class="wrapper">
  <span class="name"> Javier Romero Paolini</span>
  <span class="description"> Full stack web developer based in Barcelona, Spain.</span>

  <img src="/images/javi.jpg" class="javi" alt="Javier Romero Paolini">


  <div class="box1"></div>
  <div class="box2"></div>
  <div class="box3"></div>
  <div class="box4"></div>
  <div class="box5"></div>

  <div class="quote1">I like writing.</div>
  <div class="quote2">I like learning.</div>
  <div class="quote3">I love coding.</div>

  <div class="decoration"></div>

  {{!--
  <form action="/projects" method="GET">
    <button> See Projects </button>
  </form> --}}

</div>