<h1 class="text-center projectTitle">
  Floight</h1>

<h4 class="text-center">Floight is a web that allows you to search for events and flights tickets to your city of choice.</h4>

<h4 class="text-center">Built with Angular and Express</h4>

<a class="projectsLinks" href="https://floight.herokuapp.com/">
  <img src="/images/floight.png" alt="Floight" class="projectImg">
</a>

<h1 class="text-center projectTitle">Gigx</h1>

<h4 class="text-center">Gigx it's a web to watch and live stream concerts</h4>

<h4 class="text-center">Built with Express and NodeJS</h4>

<a class="projectsLinks" href="http://gigx.herokuapp.com/">
  <img src="/images/gigx-mobile.png" alt="Gigx" class="projectImg">
</a>

<h1 class="text-center projectTitle"> Messi vs Cristiano </h1>

<h4 class="text-center">Desktop game to decide once and for all the big question: Who's the best football player in the world?</h4>

<h4 class="text-center">Built using Javascript and Canvas</h4>

<a class="projectsLinks" href="https://javirum.github.io/messi-vs-cristiano/">
  <img id="messi" src="/images/messi-cristiano.png" alt="messi-vs-cristiano" class="projectImg">
</a>