<h1 class="text-center projectTitle">
  Gigx</h1>

<h4 class="text-center">Gigx it's a web where you can watch past concerts of your favourite bands or watch their live
  stream
  show! And you can even transmit your own gig from wherever you are. Ready to rock and roll? Click on the image to
  visit
  Gigx!</h4>

<h4 class="text-center">- Fully responsive website</h4>

<h4 class="text-center">- Built with NodeJS and Express</h4>

<h4 class="text-center">- Team: Will Schaller (Web development) and Javier Romero (Web development)</h4>

<a class="projectsLinks" href="http://gigx.herokuapp.com/">
  <img src="/images/gigx-mobile.png" alt="Gigx" class="projectImg">
</a>

<h1 class="text-center projectTitle">
  Floight</h1>

<h4 class="text-center">Floight is a web that redefines the way you plan your trips. On Floight you'll have the
  oportunity
  to check the events that are happening on the city you want to go before booking your flight. Check out what's going
  on
  your next destination using Floight. Click on the image below to give it a try! </h4>

<h4 class="text-center">- Designed for mobile</h4>

<h4 class="text-center">- Built with Angular and Express</h4>

<h4 class="text-center">- Selected by Ironhack's juries to present on the Hackshow: Click
  <a href="https://youtu.be/8BxDLxgB50c">here</a> to watch the presentation</h4>

<a class="projectsLinks" href="https://floight.herokuapp.com/">
  <img src="/images/floight.png" alt="Floight" class="projectImg">
</a>


<h1 class="text-center projectTitle">The Bro-coli</h1>

<h4 class="text-center">Landing page developed for the first Ironhack's Hackaton. We had to create a landing page for a
  fictional
  company called “Superfoods.Inc” that aims to increase the consumption of vegetables on teenager's.</h4>

<h4 class="text-center">The landing page had to be built following the concept of their marketing campaign: "Bleet
  don't
  kale my vibe". For our landing page we created a character that we called Bro-coli, so we could connect with the
  marketing
  campaign. </h4>

<h4 class="text-center">- Designed for mobile</h4>

<h4 class="text-center">- Team: Laura Feliz (UX/UI), Charles Beranguer (UX/UI), Paula Balcells (Web development) and
  Javier
  Romero (Web Development)</h4>

<h4 class="text-center">- Winners of the Best Project Award</h4>


<div class="brocolies">
  <img src="/images/brockoly1.png" alt="bro-coli" class="bro-img">
  <img src="/images/brocoli2.png" alt="bro-coli" class="bro-img">
</div>

<div class="brocolies">
  <img src="/images/brocoli3.png" alt="bro-coli" class="bro-img">
  <img src="/images/brocoli4.png" alt="bro-coli" class="bro-img">
</div>



<h1 class="text-center projectTitle"> Messi vs Cristiano </h1>

<h4 class="text-center">Desktop game to decide once and for all the big question: Who's the best football player in the
  world?
  Using the power of Javascript I decided to put Messi and Cristiano on the same pitch playing against each other. Who
  do
  you think will win? Give it a try playing Messi vs Cristiano!</h4>

<h4 class="text-center">- Designed for desktop</h4>

<h4 class="text-center">- Built using Javascript and Canvas.</h4>

<a class="projectsLinks" href="https://javirum.github.io/messi-vs-cristiano/">
  <img id="messi" src="/images/messi-cristiano.png" alt="messi-vs-cristiano">
</a>